{% extends "layout.html" %}

{% block title %}Hello, SPIS student!{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/style.css">
  <h1>Welcome to Sergio and Daniil's "friending" project!</h1>
  <p id="first_line"> We are really excited for you to take survey, <br>
   If you have already taken it, you can explore our website! <br>
   Click on one of these: </p> <br>
  <a href="/survey">Take survey</a><br>
  <a href="/edit">Edit answers to the survey</a><br>
  <a href="/gettop5">Top 5 matches</a>
{% endblock %}
